body {

    background-color: #000000;
    color: #ffff;
    

}
img {

    height: 150px;
    width: 290px;
    border-radius: 20px;
}

 article{

    background-color: #212529;
}

footer {

    background-color: #000000;

    color: #ffff;
}









